name: Python tests

on:
  workflow_call:
    inputs:
      coverage_directory:
        type: string
        default: src/

permissions:
  pull-requests: write

jobs:
  tests:
    runs-on: ubuntu-latest
    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Generate .python-version
        shell: python
        run: |
          import os
          import sys

          if os.path.isfile(".python-version"):
              sys.exit(0)

          with open("Dockerfile", "r") as fp:
              lines = fp.readlines()

          python_version = None

          for line in lines:
              # Docker FROM statement
              if line.startswith("FROM") and "python" in line:
                  python_version = line.split(":")[1].strip()
                  if "-" in python_version:
                      python_version = python_version.split("-")[0]

              # Docker ENV statement
              if line.startswith("ENV") and "PYTHON_VERSION" in line:
                  if "=" in line:
                      python_version = line.split("=")[1].strip()
                  else:
                      python_version = line.split(" ")[2].strip()

          assert python_version is not None
          print(f"Found {python_version}")

          with open(".python-version", "w") as fp:
              fp.write(python_version)

      - name: Cache Python Packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.config/pypoetry
            ~/.cache/pip
          key: python-pkgs-${{ hashFiles('pyproject.toml') }}
          restore-keys: python-pkgs

      - name: Install poetry/vscode-task-runner
        run: |
          pipx install poetry
          pipx install vscode-task-runner

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version-file: .python-version
          cache: poetry

      - name: Install Python Dependencies
        run: vtr install

      - name: Run Tests
        run: vtr tests --junitxml=pytest.xml --cov-report=xml:coverage.xml

      - name: Add Coverage Comment
        if: failure() || github.event_name == 'pull_request'
        uses: MishaKav/pytest-coverage-comment@v1.1.47
        with:
          pytest-xml-coverage-path: coverage.xml
          junitxml-path: pytest.xml
          coverage-path-prefix: ${{ inputs.coverage_directory }}
